<link rel="stylesheet" href="../../../../public/pages/history.css">
<body>
    <div class="history">
        <div class="empty-space">
        </div>
        <div class="time-list">
            <div class="activity"> 
                <div class="container-3">
                    <div class="activity-title">31-10-2019 16:36 </div> 
                    <div class="activity-title money"> 100.000d</div>
                </div>

                <div class="line-13"></div>

                <div class="container-3">
                <div class="group-78 pickup_location">
                    <div class="group-262">
                        <div class="ellipse-23"></div>
                        <img class="rectangle-203" src="../assets/vectors/rectangle2011_x2.svg"/>
                    </div>
                    <span class="text"> Chalotte St </span>
                </div>
                
                <div class="group-78 destination">
                    <div class="navigation-1">
                        <img class="vector-2" src="../assets/vectors/vector12_x2.svg" />
                    </div>
                    <span class="text"> Chalotte St </span>
                </div>                
            </div>

            <div class="line-13"></div>

            <div class="container-3">
                <div class ="detail">
                    <span class="text" style="text-decoration: underline;">Detail</span>
                </div>
            </div>
        </div> <!-- activity -->  
    </div> <!-- time-list-->
</body>
