<link rel="stylesheet" href="/pages/menu.css">

<div class="menu">
      {{!-- <div class="ui-bars-status-bars-white-base">
        <div class="time-style">
          <span class="container"> 9:41 </span>
        </div>
        <div class="container">
          <img
            class="mobile-signal"
            src="../assets/vectors/mobileSignal4_x2.svg"
          />
          <img class="wifi" src="../assets/vectors/wifi12_x2.svg" />
          <img class="battery" src="../assets/vectors/battery27_x2.svg" />
        </div>
      </div> --}}
      <div class="multiply-1">
        <div class="left-arrow-1">
          <a href="#">
            <img class="vector" src="../assets/vectors/vector21_x2.svg" />
          </a>
        </div>
      </div>
      <div class="group-76">
        <div class="user-avatar">
          <div class="image-9"></div>
        </div>
        <div class="username">Marius Ciocirlan</div>
        <span class="user-mail"> Marius974@gmail.com </span>
      </div>
      <div class="group-68">
        <div class="icon-1">
          <img class="group-6" src="../assets/vectors/group11_x2.svg" />
        </div>
        <div class="home">Home</div>
      </div>
      <div class="group-75">
        <div class="information-1">
          <img class="group-7" src="../assets/vectors/group6_x2.svg" />
        </div>
        <div class="online-support">Profile</div>
      </div>
      {{!-- <div class="group-69">
        <div class="credit-card-1">
          <img class="group" src="../assets/vectors/group20_x2.svg" />
        </div>
        <span class="payment-method"> Payment method </span>
      </div> --}}
      <div class="group-71">
        <div class="clock-circular-outline-1">
          <img class="group-1" src="../assets/vectors/group7_x2.svg" />
        </div>
        <div class="history">History</div>
      </div>
      {{!-- <div class="group-73">
        <div class="group-72">
          <img class="vector-6" src="../assets/vectors/vector59_x2.svg" />
        </div>
        <div class="apply-promo-code">Apply Promo Code</div>
      </div> --}}
      {{!-- <div class="group-77">
        <div class="wedding-invitation-1">
          <img class="group-8" src="../assets/vectors/group1_x2.svg" />
        </div>
        <div class="invite-friends">Invite Friends</div>
      </div> --}}
      <div class="group-74">
        <div class="controls-1">
          <img class="vector-9" src="../assets/vectors/vector95_x2.svg" />
          <img class="vector-8" src="../assets/vectors/vector18_x2.svg" />
          <img class="vector-7" src="../a   ssets/vectors/vector25_x2.svg" />
        </div>
        <div class="setting">Setting</div>
      </div>
      <div class="group-70">
        <img class="logout-1" src="../assets/vectors/logout1_x2.svg" />
        <div class="log-out">Log Out</div>
      </div>
    </div>