<div class="setting">
      <div class="group-25">
        <div class="left-arrow-1">
          <a href="#">
            <img class="vector" src="../assets/vectors/vector21_x2.svg" />
          </a>
        </div>
        <div class="setting-1">Setting</div>
        <img class="bell-1" src="../assets/vectors/bell15_x2.svg" />
      </div>
      <div class="container">
        <div class="group-104">
          <span class="phone-number"> User ID </span>
          <div class="group-103">
            <span class="container-1">ABCDEFGH123</span>
          </div>
        </div>
        <div class="group-104">
          <span class="phone-number"> Username </span>
          <div class="group-103">
            <span class="container-1">John Doe</span>
          </div>
        </div>
        <div class="group-104">
          <span class="phone-number"> Phone Number </span>
          <div class="group-103">
            <span class="container-1">123456789</span>
          </div>
        </div>
        <div class="group-104">
          <span class="phone-number"> Card number </span>
          <div class="group-103">
            <span class="container-1"> 55645</span>
          </div>
        </div>
        {{!-- <div class="group-105">
          <span class="call"> Call </span>
          <div class="on">
            <div class="ellipse-14"></div>
          </div>
        </div>
        <div class="group-106">
          <span class="notification"> Notification </span>
          <div class="off">
            <div class="ellipse-141"></div>
          </div>
        </div> --}}
        <div class="group-107">
          <span class="favorite-address"> Favorite Address </span>
          <div class="group-1031">
            <span class="mozart-st"> Mozart St </span>
            <div class="group-1021">
              <img class="line-15" src="../assets/vectors/line153_x2.svg" />
            </div>
          </div>
        </div>
        {{!-- <div class="group-108">
          <span class="traffic"> Traffic </span>
          <div class="off-1">
            <div class="ellipse-142"></div>
          </div>
        </div>
        <div class="group-109">
          <span class="language"> Language </span>
          <div class="group-1032">
            <span class="english"> English </span>
            <div class="group-1022">
              <img class="line-151" src="../assets/vectors/line15_x2.svg" />
            </div>
          </div>
        </div> --}}
      </div>
    </div>