<link rel="stylesheet" href="/pages/singUp.css">
<div class="sing-up">
    <form method="POST" action="/customer/signup">
      <div class="create-an-account">Create An Account</div>
      <div style="display: flex; align-items: center; flex-direction: column">
        <p class="infomation-box-title">Customer's information</p>
        <div class="infomation-box">
          <div class="group-61">
            <label class="name" for="input-fullname">Full name</label>
            <input class="input" type="text" id="input-fullname" name="fullname" placeholder="Your full name" required>
          </div>
          <div class="group-61">
            <label class="name" for="input-email">Email</label>
            <input class="input" type="email" id="input-email" name="email" placeholder="Your email" required>
          </div>
          <div class="group-61">
            <label class="name" for="input-tel">Tel</label>
            <input class="input" type="tel" id="input-tel" name="tel" placeholder="Your telephone number" required>
          </div>
          <div class="group-61">
            <label class="name" for="input-dob">Day of birth</label>
            <input class="input" type="date" id="input-dob" name="dob" placeholder="Your day of birth">
          </div>
        </div>
      </div>
      <div style="display: flex; align-items: center; flex-direction: column">
        <p class="infomation-box-title">Account</p>
        <div class="infomation-box">
          <div class="group-61">
            <label class="name" for="input-username">Username</label>
            <input class="input" type="text" id="input-username" name="username" placeholder="Username" required>
          </div>
          <div class="group-61">
            <label class="name" for="input-password">Password</label>
            <input class="input" type="password" id="input-password" name="password" placeholder="Password" required>
            <!-- <div class="eye-11">
              <img class="vector-1" src="../assets/vectors/vector35_x2.svg" />
            </div> -->
          </div>
          <div class="group-61">
            <label class="name" for="input-password-again">Enter your password again</label>
            <input class="input" type="password" id="input-password-again" placeholder="Enter your password again">
            <!-- <div class="eye-11">
              <img class="vector-1" src="../assets/vectors/vector35_x2.svg" />
            </div> -->
          </div>
        </div>
      </div>
      <button class="sing-up-1 group-33"> Sign up </button>
    </form>
      <div class="container-3">
        <div class="already-have-an-account">Already have an account?</div>
        <a class="group-117" href="#">
          <div>
            <span class="sing-in"> Sign in </span>
          </div>
        </a>
      </div>
    </div>