
<section style="background-color: #eee; pd-0; height: 745.08px;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 p-0 h-100">
        <div class="card h-100" id="chat1" style="overflow-y: auto;">
          <div class="card-body h-100" id="BoxChat">
            <div class="d-flex flex-row justify-content-start mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
              <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                <p class="small mb-0">Hello and thank you for visiting MDBootstrap. Please click the video
                  below.</p>
              </div>
            </div>

            <div class="d-flex flex-row justify-content-end mb-4">
              <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                <p class="small mb-0">Thank you, I really like your product.</p>
              </div>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
            </div>
          </div>
        </div>
        <div class="d-flex " style="background-color: #eee;">
          <input type="text" class="form-control" id="messageInput" placeholder="Type your message">
          <button class="btn-primary rounded" style="font-weight: bold" type="submit" id="Submit">Send</button>
        </div>
      </div>
    </div>
   
  </div>
</section>
<script>
    $('#Submit').on("click", function() {
        append("Vu", $('#messageInput').val());
    })
    function append(name, content) {
        $('#BoxChat').append($(`
             <div class="d-flex flex-row justify-content-end mb-4">
              <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                <p class="small mb-0">${content}</p>
              </div>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
            </div>
        `))
    }
</script>