<div
  style="background-color: transparent; width: 100%; height: 760.08px; "
>
    <div style="width: 100%; height: 100%; position: relative; border-top-left-radius: 30px; border-top-right-radius: 30px;">   
        
    </div>
</div>
