<div
  style="display: flex; align-items: center; justify-content: space-between; margin: 10px 10px 15px 10px"
>
  <div>
    <svg
      width="30"
      height="30"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M23 5H1C0.447715 5 0 5.44772 0 6C0 6.55228 0.447716 7 1 7H23C23.5523 7 24 6.55228 24 6C24 5.44772 23.5523 5 23 5Z"
        fill="white"
      />
      <path
        d="M20 11H4C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11Z"
        fill="white"
      />
      <path
        d="M16 17H8C7.44772 17 7 17.4477 7 18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18C17 17.4477 16.5523 17 16 17Z"
        fill="white"
      />
    </svg>
  </div>
  <h3 style="color: white;">Position</h3>
  <div>
    <svg
      width="20"
      height="24"
      viewBox="0 0 20 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19.1032 19.0994C19.0327 19.0536 18.5017 18.6816 17.9701 17.5564C16.9937 15.49 16.7888 12.5792 16.7888 10.5012C16.7888 10.4921 16.7886 10.4832 16.7882 10.4742C16.7776 7.72781 15.1331 5.36034 12.7798 4.29811V2.67356C12.7798 1.19934 11.5824 0 10.1106 0H9.88941C8.41763 0 7.22025 1.19934 7.22025 2.67356V4.29802C4.85907 5.36367 3.21127 7.74323 3.21127 10.5012C3.21127 12.5792 3.00633 15.49 2.02997 17.5564C1.49836 18.6816 0.96741 19.0535 0.896816 19.0994C0.599535 19.2369 0.452957 19.5548 0.521348 19.8768C0.590394 20.2021 0.894426 20.4263 1.22644 20.4263H6.38021C6.40899 22.4017 8.02121 24 10 24C11.9789 24 13.5911 22.4017 13.6199 20.4263H18.7736C19.1056 20.4263 19.4097 20.2021 19.4787 19.8768C19.547 19.5548 19.4005 19.2369 19.1032 19.0994ZM8.62655 2.67356C8.62655 1.97602 9.19308 1.40855 9.88946 1.40855H10.1107C10.807 1.40855 11.3736 1.97602 11.3736 2.67356V3.84155C10.9298 3.74981 10.4703 3.70153 9.99985 3.70153C9.5295 3.70153 9.07022 3.74977 8.6266 3.84141V2.67356H8.62655ZM10 22.5915C8.79661 22.5915 7.815 21.625 7.78646 20.4264H12.2136C12.1851 21.625 11.2035 22.5915 10 22.5915ZM12.8313 19.0177C12.8311 19.0177 2.82886 19.0177 2.82886 19.0177C2.9505 18.8282 3.0743 18.6135 3.19735 18.371C4.13972 16.5127 4.61757 13.8649 4.61757 10.5012C4.61757 7.5285 7.03205 5.11008 9.9998 5.11008C12.9676 5.11008 15.382 7.5285 15.382 10.5035C15.382 10.5122 15.3822 10.5208 15.3825 10.5294C15.3852 13.8797 15.863 16.518 16.8027 18.371C16.9258 18.6136 17.0496 18.8282 17.1712 19.0177H12.8313Z"
        fill="white"
      />
    </svg>
    <svg
      width="10"
      height="10"
      viewBox="0 0 10 10"
      fill="none"
      style="position: absolute; right: 6px;"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="5" cy="5" r="5" fill="#FFAA2B" />
    </svg>

  </div>
</div>