.driver-confirm .container {
  overflow-wrap: break-word;
  font-family: 'Roboto Black', 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.driver-confirm .time-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.driver-confirm .mobile-signal {
  margin: 0.3px 5px 0.3px 0;
  width: 17px;
  height: 10.7px;
}
.driver-confirm .wifi {
  margin: 0 5px 0.4px 0;
  width: 15.3px;
  height: 11px;
}
.driver-confirm .battery {
  margin-top: 0px;
  width: 24.3px;
  height: 11.3px;
}
.driver-confirm .container {
  margin: 3.3px 0;
  display: flex;
  flex-direction: row;
  width: 66.7px;
  height: fit-content;
  box-sizing: border-box;
}
.driver-confirm .ui-bars-status-bars-white-base {
  margin: 0 0 12px 15.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 15.6px);
  box-sizing: border-box;
}
.driver-confirm .vector {
  border-radius: 1px;
  width: 24px;
  height: 2px;
}
.driver-confirm .group {
  border-radius: 1px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24px;
  height: 2px;
  box-sizing: border-box;
}
.driver-confirm .vector-1 {
  border-radius: 1px;
  width: 18px;
  height: 2px;
}
.driver-confirm .group-1 {
  border-radius: 1px;
  margin: 0 3px 4px 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18px;
  height: 2px;
  box-sizing: border-box;
}
.driver-confirm .vector-2 {
  border-radius: 1px;
  width: 10px;
  height: 2px;
}
.driver-confirm .group-2 {
  border-radius: 1px;
  margin: 0 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10px;
  height: 2px;
  box-sizing: border-box;
}
.driver-confirm .list-menu-1 {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: fit-content;
  box-sizing: border-box;
}
.driver-confirm .alaska {
  margin: 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
}
.driver-confirm .bell-1 {
  width: 24px;
  height: 24px;
}
.driver-confirm .group-25 {
  margin: 0 5.3px 152px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5.3px);
  box-sizing: border-box;
}
.driver-confirm .undraw-profile-data-mk-6-k-1 {
  margin: 0 5.3px 50px 0;
  width: 287px;
  height: 213px;
}
.driver-confirm .confirm {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 28px;
  color: #FFFFFF;
}
.driver-confirm .you-got-aride-request-from-marius-ciocirlan-please-pick-him-from-his-request-location-please-go-quick {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 17px;
  color: #7177AB;
}
.driver-confirm .group-116 {
  margin: 0 17.2px 146px 12.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 30.1px);
  box-sizing: border-box;
}
.driver-confirm .vector-77 {
  width: 16px;
  height: 16px;
}
.driver-confirm .multiply-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.driver-confirm .group-61 {
  border-radius: 2px;
  border: 1px solid #545C9B;
  background: #282F62;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
}
.driver-confirm .confirm-request {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.294;
  text-transform: uppercase;
  color: #343B71;
}
.driver-confirm .group-33 {
  border-radius: 2px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0;
  flex-grow: 1;
  flex-basis: 271px;
  box-sizing: border-box;
}
.driver-confirm .container-1 {
  margin-right: 5.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5.3px);
  box-sizing: border-box;
}
.driver-confirm {
  background: #343B71;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 14.7px 30px 20px;
  box-sizing: border-box;
}
