.forgot-password .rectangle-43 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 375px;
  height: 91px;
}
.forgot-password .container {
  overflow-wrap: break-word;
  font-family: 'Roboto Black', 'Roboto Condensed';
  font-weight: 900;
  font-size: 15px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.forgot-password .time-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.forgot-password .mobile-signal {
  margin: 0.3px 5px 0.3px 0;
  width: 17px;
  height: 10.7px;
}
.forgot-password .wifi {
  margin: 0 5px 0.4px 0;
  width: 15.3px;
  height: 11px;
}
.forgot-password .battery {
  margin-top: 0px;
  width: 24.3px;
  height: 11.3px;
}
.forgot-password .container-2 {
  margin: 3.3px 0;
  display: flex;
  flex-direction: row;
  width: 66.7px;
  height: fit-content;
  box-sizing: border-box;
}
.forgot-password .ui-bars-status-bars-white-base {
  position: relative;
  margin: 0 0 42px 14.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 14.8px);
  box-sizing: border-box;
}
.forgot-password .forgot-password-1 {
  position: relative;
  margin-bottom: 34px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 28px;
  color: #FFFFFF;
}
.forgot-password .digits-number {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.forgot-password .container-1 {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  color: #545C9B;
}
.forgot-password .group-124 {
  border-radius: 2px;
  border: 1px solid #545C9B;
  background: #282F62;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 17.3px 11px 16.3px;
  box-sizing: border-box;
}
.forgot-password .container-5 {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  color: #545C9B;
}
.forgot-password .group-125 {
  border-radius: 2px;
  border: 1px solid #545C9B;
  background: #282F62;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 17.3px 11px 16.3px;
  box-sizing: border-box;
}
.forgot-password .container-6 {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  color: #545C9B;
}
.forgot-password .group-126 {
  border-radius: 2px;
  border: 1px solid #545C9B;
  background: #282F62;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 16.8px;
  box-sizing: border-box;
}
.forgot-password .container-4 {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  color: #545C9B;
}
.forgot-password .group-127 {
  border-radius: 2px;
  border: 1px solid #545C9B;
  background: #282F62;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 17.3px 11px 16.3px;
  box-sizing: border-box;
}
.forgot-password .container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: fit-content;
  box-sizing: border-box;
}
.forgot-password .group-61 {
  border-radius: 2px;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.forgot-password .inter-new-password {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.forgot-password .container-2 {
  margin-right: 10px;
  width: 277px;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  color: #545C9B;
}
.forgot-password .vector {
  width: 16px;
  height: 9.5px;
}
.forgot-password .eye-1 {
  margin: 2.2px 0 8.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16px;
  height: 9.5px;
  box-sizing: border-box;
}
.forgot-password .container-3 {
  border-radius: 2px;
  border: 1px solid #545C9B;
  background: #282F62;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 16px 8px 16px;
  width: 100%;
  box-sizing: border-box;
}
.forgot-password .group-63 {
  position: relative;
  margin: 0 5.3px 30px 0;
  display: flex;
  flex-direction: column;
  width: calc(100% - 5.3px);
  box-sizing: border-box;
}
.forgot-password .confirm-password {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.forgot-password .container-3 {
  margin-right: 10px;
  width: 277px;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  color: #545C9B;
}
.forgot-password .vector-1 {
  width: 16px;
  height: 9.5px;
}
.forgot-password .eye-11 {
  margin: 2.2px 0 8.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16px;
  height: 9.5px;
  box-sizing: border-box;
}
.forgot-password .container-1 {
  border-radius: 2px;
  border: 1px solid #545C9B;
  background: #282F62;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 16px 8px 16px;
  width: 100%;
  box-sizing: border-box;
}
.forgot-password .group-66 {
  position: relative;
  margin: 0 4.3px 40px 1px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 5.3px);
  box-sizing: border-box;
}
.forgot-password .sing-up {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.294;
  text-transform: uppercase;
  color: #343B71;
}
.forgot-password .group-33 {
  border-radius: 2px;
  background: #FFFFFF;
  position: relative;
  margin-right: 5.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 1px 11px 0;
  width: calc(100% - 5.3px);
  box-sizing: border-box;
}
.forgot-password {
  background: #343B71;
  display: flex;
  flex-direction: column;
  padding: 14px 14.7px 281px 20px;
  box-sizing: border-box;
}
