<link rel="stylesheet" href="/pages/splashScreen4.css">

<div class="splash-screen-4">
    <div class="mask-group">
    {{!-- <div class="ui-bars-status-bars-white-base">
        <div class="time-style">
        <span class="container"> 9:41 </span>
        </div>
        <div class="container">
        <img
            class="mobile-signal"
            src="../assets/vectors/mobileSignal28_x2.svg"
        />
        <img class="wifi" src="../assets/vectors/wifi26_x2.svg" />
        <img class="battery" src="../assets/vectors/battery6_x2.svg" />
        </div>
    </div>
    <span class="skip"> Skip </span> --}}
    </div>
    <div class="container-1">
        <div class="confirm-your-driver">Welcome to GoCabs</div>
        <div
            class="huge-delivery-network-helps-you-find-comforable-safe-and-cheap-ride"
        >
            Huge delivery network. Helps you find<br />
            comforable, safe and cheap ride.
        </div>
        <div style="display: flex; justify-content: space-around; width: 100%">
            <a href="/customer/login" style="text-decoration: none;">
                <button class="group-33">
                    <span class="next"> Customer </span>
                </button>
            </a>
            <a href="/driver/login" style="text-decoration: none;">
                <button class="group-33">
                    <span class="next"> Driver </span>
                </button>
            </a>
        </div>
        <div class="group-128">
            <h1>Connect to us: +84 871087108</h1>
        </div>
    </div>
</div>